<div id="content">
  <div class="container">
    <!-- Login form -->
    <form class="form-login form-wrapper form-narrow">
      <h3 class="title-divider">
        <span>Reset Password</span>
      </h3>
      <div class="form-group">
        <label class="sr-only" for="login-email-page">Email</label>
        <input name="email" [(ngModel)]="data.email" type="email" id="login-email-page" class="form-control email" placeholder="Email">
      </div>
      <button type="button" class="btn btn-primary" (click)="resetPasswordRequest();">
        Send Reset Email
      </button>
      |
      <small><a routerLink="/login">Login?</a></small>
    </form>
  </div>
</div>
