<div id="content">
  <div class="container">
    <!-- Login form -->
    <form class="form-login form-wrapper form-narrow">
      <h3 class="title-divider">
        <span>Reset Password</span>
      </h3>
      <div class="form-group">
        <label class="sr-only" for="new-password">New Password</label>
        <input name="new-pass" [(ngModel)]="data.newPass" type="password" id="new-password" class="form-control email" placeholder="New Password">
      </div>
      <div [class.has-danger]="errorMessage" class="form-group">
        <label class="sr-only" for="confirm-password">Confirm Password</label>
        <input name="confirm-pass" [(ngModel)]="data.confirmPass" type="password" id="confirm-password" class="form-control email" placeholder="Confirm Password">
        <div *ngIf="errorMessage" class="form-control-feedback">{{errorMessage}}</div>
      </div>
      <button type="button" class="btn btn-primary" (click)="resetPassword();">
        Reset Password
      </button>
      |
      <small><a routerLink="/login">Login?</a></small>
    </form>
  </div>
</div>
